* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  margin: 50px;
}
  
.winners__table {
  margin-top: 50px;
}

.contact {
  &__container {
    margin-top: 50px;
    background-color: lch(89% 50 18);
  }

  &__form {
    padding: 30px 200px;
  }

  &__form-control {
    position: relative;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  &__form-control label {
    display: block;
    margin-bottom: 5px;
    color: $nobootstrap-secondary-color;
  }

  &__form-control input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 2px solid lch(100% 132 360);
    border-radius: 4px;
  }

  &__form-control input:focus {
    border-color: #777;
    outline: 0;
  }

  &__form-control.success input {
    border-color: var(--success-color);
  }

  &__form-control.error input {
    border-color: var(--error-color);
  }

  &__form-control small {
    position: relative;
    bottom: 0;
    left: 0;
    display: none;
    color: var(--error-color);
    visibility: hidden;
  }

  &__form-control.error small {
    display: inline-block;
    visibility: visible;
  }

  &__form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    color: #fff;
    background-color: lch(62% 41 269);
    border: 2px solid lch(62% 41 269);
    border-radius: 4px;
  }
}