* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

div.contestants__container {
  margin: 50px;
}

section.contestants__container-cards {
  display: flex;
  flex-flow: wrap;
  gap: 30px;
}

.contestant__card {
  flex: 1 1 30%;
}

h2 {
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}