$nobootstrap-primary-color: #f3a944;
$nobootstrap-secondary-color: #0637f9;
$nobootstrap-tertiary-color: #8e8b8d;

$theme-colors: (
  "primary":    #fd7e14,
  "secondary":  #0d6efd,
);

$card-title-color: #0637f9;
$card-height: 80px;